body
{
    background: white;
    background-size: contain;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height:700px;
    width: 500px;
    margin: 40px auto;
    background-image:url(lite.jpg);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.highlight {
    background: yellow;
    padding: 2px 5px;
}

.quote {
    background: #eaf3ff;
    border-left: 4px solid #5a8dee;
    padding: 15px;
    font-style: italic;
    margin: 20px 0;
}

.author-box {
    display: flex;
    gap: 15px;
    background: #f7faff;
    padding: 15px;
    border-radius: 8px;
}

.author-img {
    width: 70px;
    height: 80px;
    border-radius: 5px;
}

.footer {
    margin-top: 25px;
    background: #003c8f;
    padding: 15px;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: bold;
    color: #ffeb3b;
}